body {
	padding: 0;
	margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.2;
}
.body-wrap {
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}
.d3-example {
  margin: 100px auto;
  min-height: 500px;
  max-width: 600px;
  background: white;
  display: block;
  border: 1px solid grey;
  position: relative;
  
}
.d3-example > h2 {
  position: absolute;
  top: -60px;
}